In [17]:
"""Originally did in colab these are the packages needed to be installed"""
# %%capture
# !pip install -q langchain
# !pip install -q openai
# !pip install pandas
# !pip install numpy
# !pip install langchain-experimental

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = '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'

In [11]:
#read in csv file and convert to sqlite database
import pandas as pd
import numpy as np
import sqlite3

df = pd.read_csv('webscrape.csv')

df = df.rename(columns={
  'Rank' : 'rank',
  'Name' : 'name',
  'Industry' : 'industry',
  'Revenue (USD millions)' : 'revenue',
  'Revenue growth' : 'revenue_growth',
  'Employees' : 'employees',
  'Headquarters' : 'headquarters'
})

conn = sqlite3.connect('companies_db.sqlite')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS companies (rank int, name text, industry text, revenue int, revenue_growth text, employees int, headquarters text)')

conn.commit()

df.to_sql('companies', conn, if_exists='replace', index = False)

c.execute('''
SELECT rank FROM companies LIMIT 100
          ''')

In [26]:
df.head()

,rank,name,industry,revenue,revenue_growth,employees,headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"

In [19]:
# connect langchain to the database
from langchain.utilities import SQLDatabase
from langchain.llms import OpenAI
from langchain_experimental.sql import SQLDatabaseChain

db = SQLDatabase.from_uri('sqlite:///companies_db.sqlite')
llm = OpenAI(temperature=0,verbose=True)
db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True)

In [23]:
db_chain.run("what was the average revenue of wlmart?")

> Entering new SQLDatabaseChain chain...
what was the average revenue of wlmart?
SQLQuery:SELECT AVG(revenue) FROM companies WHERE name = 'Walmart';
SQLResult: [(611.0,)]
Answer:The average revenue of Walmart was 611.
> Finished chain.

'The average revenue of Walmart was 611.'

In [25]:
# testing out the agent capabilities
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
# from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType

db = SQLDatabase.from_uri("sqlite:///companies_db.sqlite")
llm = OpenAI(temperature=0, verbose=True)

agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=SQLDatabaseToolkit(db=db, llm=OpenAI(temperature=0)),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [27]:
agent_executor.run(
    "List the total revenue company. Which company had the most employees?"
)

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: companies, fashion_products
Thought: I should query the schema of the companies table
Action: sql_db_schema
Action Input: companies
Observation:
CREATE TABLE companies (
	rank INTEGER,
	name TEXT,
	industry TEXT,
	revenue TEXT,
	revenue_growth TEXT,
	employees TEXT,
	headquarters TEXT
)

/*
3 rows from companies table:
rank	name	industry	revenue	revenue_growth	employees	headquarters
1	Walmart	Retail	611,289	6.7%	2,100,000	Bentonville, Arkansas
2	Amazon	Retail and Cloud Computing	513,983	9.4%	1,540,000	Seattle, Washington
3	Exxon Mobil	Petroleum industry	413,680	44.8%	62,000	Spring, Texas
*/
Thought: I should query the companies table to get the total revenue and employees for each company
Action: sql_db_query
Action Input: SELECT name, revenue, employees FROM companies ORDER BY employees DESC LIMIT 10
Observation: [('Delta Air Lines', '50,582', '95,000'), ('United Airlines', '44,955', '92,795'), ('Valero Energy', '171,189', '9,743'), ('ConocoPhillips', '82,156', '9,500'), ('Meta Platforms', '116,609', '86,482'), ('Cisco', '51,557', '83,300'), ('Pfizer', '100,330', '83,000'), ('Morgan Stanley', '65,936', '82,427'), ('John Deere', '52,577', '82,239'), ('Fannie Mae', '121,596', '8,000')]
Thought: I now know the final answer
Final Answer: Delta Air Lines had the most employees with 95,000.

> Finished chain.

'Delta Air Lines had the most employees with 95,000.'

In [29]:
# straight sql generation
from langchain.chat_models import ChatOpenAI
from langchain.chains import create_sql_query_chain

chain = create_sql_query_chain(ChatOpenAI(temperature=0), db)
response = chain.invoke({"question":"How many employees are there at each company"})
print(response)

SELECT "name", "employees" FROM companies

In [ ]:
# starting to look at custom prompts
from langchain.prompts import PromptTemplate

TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}.

Some examples of SQL queries that corrsespond to questions are:

{few_shot_examples}

Question: {input}"""

CUSTOM_PROMPT = PromptTemplate(
    input_variables=["input", "few_shot_examples", "table_info", "dialect"], template=TEMPLATE
)